<ion-header>
  <ion-toolbar color="primary">
  <ion-row>
    <div> 
      <ion-buttons slot="start" class="float-left">
        <ion-menu-button></ion-menu-button>
      </ion-buttons></div>
     <ion-title>Home Work</ion-title>
   
      <ion-select (click)="student()" interface="popup" [(ngModel)]="semSelected" (ngModelChange)="getPostEntry($event)">
        <div class="studentname"> </div>
        </ion-select>
      
    <div class="logout">
      <ion-icon name="log-out"class="ion-float-right log-ion"></ion-icon>
    </div>
    </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="jsonvalue"></div> 
      <!--  <div id="ionic-drp">
           
            <ion-grid>
                <ion-row>
                  <ion-col size="4" class="ion-float-left">
                      <div class="stu-name"><p>Mohen</p></div>
                      <div class="special-t"><p>MH</p></div>
                    </ion-col>
                  <ion-col size="8" class="ion-float-right">
                <div style="float:right;">
                <ion-button  class="special-t1  text-cetner">
                  <ul>
                  <li>oct</li>
                   <li>19</li>
                  </ul>
                </ion-button>
              </div>   
            </ion-col>       
                <div class="span-text"> 
                  <span class=" span-t ion-float-right flip"id="flip">
                    open</span></div> 
                     
                </ion-row>
                   </ion-grid>
            
            </div> -->
          
    
     
  
      
    
    </ion-content>
   
    