#head-name{background-color: rgb(216, 211, 211);
    text-align: center;color:#000;}
    #head-name h4{font-size: 15px;font-weight:400;}

    ion-card{
      background-color: #FFFF;
      height: 13%;
      width: 100%;
     
      margin-left: 0px;}
    .stu-name p{
      font-size: 15px;
      font-weight:bold;
      float: right;
      color:#000;
     
    }
    .special-t{
      background-color: #26A8D2;
      width: 40px;
      height: 40px;
      
      border-radius: 50%;
    text-align: center;
    color:#FFFF;
    cursor: pointer;
    }
    .special-t1{
      background-color: #26A8D2;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    text-align: center;
    color:#FFFF;
    cursor: pointer;
    }
    .special-t p{
      color:#FFFF;
      padding-top: 10px;
    }
    
    .special-t1 ul li{
      font-size:11px;
      padding: 3px 0px;
     
    }
    .span-t{padding-right:10px;background-color: #FFFF !important;  }
    
    #panel {
           display: none;
    }
    .span-text{flex:auto;margin-right: 5px;box-shadow: none !important;}
    #panel, #ionic-drp {
     
      text-align: center;
      background: #ffffff;
     /*  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
-webkit-transition: .25s box-shadow;
transition: .25s box-shadow; */
      border: solid 1px #eee4e4;
    }
    #panel, #ionic-drp {
      padding: 5px;
      text-align: center;
     
    }
    
    #panel {
      padding: 50px;
      display: none;
    }
    
      ion-card{
        background: #ffffff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
 -webkit-transition: .25s box-shadow;
 transition: .25s box-shadow;
      }