<ion-header>
  <ion-toolbar color="primary">
  <ion-row>
    <div> 
      <ion-buttons slot="start" class="float-left">
        <ion-menu-button></ion-menu-button>
      </ion-buttons></div>
     <ion-title>Exam Marks</ion-title>
   
      <ion-select (click)="student()" interface="popup" [(ngModel)]="semSelected" (ngModelChange)="getPostEntry($event)">
        <div class="studentname"> </div>
        </ion-select>
      
    <div class="logout">
      <ion-icon name="log-out"class="ion-float-right log-ion"></ion-icon>
    </div>
    </ion-row>
    </ion-toolbar>
  </ion-header>
  
      
  
    
    
   <ion-content >
    
   <ion-row class="btn-row">
      <ion-col size="12" size-sm>
      <div class="ion-c">Select Exam</div>
   <ion-select class="ion-c" placeholder="Select One" interface="popup" [(ngModel)]="examselected" (ngModelChange)="showmark($event)">
     <div class="jsonvalue"></div>
    </ion-select> 
  </ion-col>
    </ion-row>
 
  <!--  <ion-row class="btn-row">
      <div class="ion-c"style="width:50%">Select Exam</div>
     <select name="carlist" form="carform"class="ion-c" style="width:50%">
      <option value="volvo">Quaterly Exam</option>
      <option value="saab">Half Yearly Exam</option>
      <option value="opel">1st Midterm Test</option>
      <option value="audi">11st Midterm Test</option>
    </select>
 </ion-row> -->
 
 
<!-- <div id="ion-c" interface="popup" [(ngModel)]="semSelected" (ngModelChange)="exammarks($event)">
    <div class="tableselect"></div>
</div> -->

<div class="tableselect"></div>
<!-- <div>
 <ion-card>
  <ion-item>
    
    <ion-icon name="contacts" slot="start"></ion-icon>
    <ion-label>Class</ion-label>
   <span class="ion-float-left">text</span>
  </ion-item>
</ion-card>


<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>Subject</ion-label>
    <span class="ion-float-left">text</span>
  </ion-item>
</ion-card>


<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>Total Marks</ion-label>
    <span class="ion-float-left">text</span>
  </ion-item>
</ion-card>


<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>Marks</ion-label>
    <span class="ion-float-left">text</span>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>Comment</ion-label>
    <span class="ion-float-left">text</span>
  </ion-item>
</ion-card>
</div>  -->
  </ion-content>
 
  