.btn-row .ion-c {
    background-color: #FFF; /* Green background */
    border: 1px solid #26A8D2; /* Green border */
   font-size: 15px;
    color: #26A8D2; /* White text */
    padding: 10px 15px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
   
  }
  .btn-row:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-row .ion-c:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  .ion-c{width: 50%;}
  .btn-row{
    margin:30px 0px;
  }
  /* Add a background color on hover */
  /* .btn-row .ion-c:hover {
    background-color: #26A8D2;
    color: #FFF;
  }*/
  table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  