
    <ion-header>
      <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Gallery</ion-title>
        </ion-toolbar>
      </ion-header> 
    
  <ion-content>
    
     <div class="gallery-bg">
      
     <ion-grid>
          <h4>Select Photos</h4>
          <div class="jsonvalue"></div>
        <!-- <ion-row>
          <ion-col>
              <a button href="/photos">
            <ion-card>
              <ion-item>
                <ion-label class="ion-text-center">Card </ion-label>
              </ion-item>
          </ion-card>
        </a>
          </ion-col>
          <ion-col>
              <a button href="/timetable">
            <ion-card>
              <ion-item>
                <ion-label class="ion-text-center">Card </ion-label>
              </ion-item>
          </ion-card>
        </a>
          </ion-col>
          <ion-col>
              <a button href="/timetable">
            <ion-card>
              <ion-item>
                <ion-label class="ion-text-center">Card </ion-label>
              </ion-item>
          </ion-card>
        </a>
          </ion-col>
        </ion-row>-->
      </ion-grid>
     </div>
   
  </ion-content>
  