.ions-content{
    background: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
-webkit-transition: .25s box-shadow;
transition: .25s box-shadow;
    height:30%;
}
.col-l a{
    color:#3880FF !important;
   
}
.col-l {
  padding-top: 5px;
 
}
.ion-i{
    color:rgb(163, 156, 156);
    font-size: 30px;
}
.col-r a{
    color:rgb(134, 132, 132);
    font-size: 15px;
   
}
body {
  cursor: url('https://ionicframework.com/img/finger.png'), auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
  }
  
  li {
    float: left;
  
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  
  
  
  