
<ion-header>
  <ion-toolbar color="primary">
  <ion-row>
    <div> <ion-buttons slot="start" class="float-left">
        <ion-menu-button></ion-menu-button>
      </ion-buttons></div>
        <ion-title>Notice Board</ion-title>
       </ion-row>
    </ion-toolbar>
  </ion-header>

  

  <ion-content class="ion-padding">
      
        
  <!--  <div>
      <ion-col size="12" size-sm>
        <div class="ions-content">		
            <div class="col-md-12">
               
                  <ul>
                      <li><a><ion-icon name="clipboard" class=" ion-i"> </ion-icon></a></li>
                      <li class=" col-l"><a >Holiday</a></li>
                     <li style="float:right"class=" col-r"><a>About</a></li>
                    </ul>
           <p >All Children must be present in the School premised at 8.40 AM. School closes at 3.20 PM.</p>
          </div>
            </div>
    </ion-col>
    </div> -->
    <div class="jsonvalue"></div>
  </ion-content>

  