<ion-header>
  <ion-toolbar color="primary">
  <ion-row>
    <div> 
      <ion-buttons slot="start" class="float-left">
        <ion-menu-button></ion-menu-button>
      </ion-buttons></div>
     <ion-title>Flash News</ion-title>
     <!--<div class="vertical slide"></div> -->
     
    
    <div class="logout">
      <ion-icon name="log-out"class="ion-float-right log-ion"></ion-icon>
    </div>
    </ion-row>
    </ion-toolbar>
  </ion-header>
   

<ion-content>
  
  
    <!--<div class="holder">
        <ul id="ticker01">
                    <li><span>10/10/2007</span><a href="#">The first thing that most Javascript programmers</a></li>
                    <li><span>10/10/2007</span><a href="#">End up doing is adding some code</a></li>
                    <li><span>10/10/2007</span><a href="#">The code that you want to run</a></li>
                    <li><span>08/10/2007</span><a href="#">Inside of which is the code that you want to run</a></li>
                    <li><span>08/10/2007</span><a href="#">Right when the page is loaded</a></li>
                    <li><span>05/10/2007</span><a href="#">Problematically, however, the Javascript code</a></li>
                    <li><span>04/10/2007</span><a href="#">The first thing that most Javascript programmers</a></li>
                    <li><span>04/10/2007</span><a href="#">End up doing is adding some code</a></li>
                    <li><span>04/10/2007</span><a href="#">The code that you want to run</a></li>
                    <li><span>03/10/2007</span><a href="#">Inside of which is the code that you want to run</a></li>
                    <li><span>03/10/2007</span><a href="#">Right when the page is loaded</a></li>
                    <li><span>01/10/2007</span><a href="#">Problematically, however, the Javascript code</a></li>
              </ul>
      </div>-->
      <div class="jsonvalue"></div>  


     
</ion-content>
