<ion-header>
    <ion-toolbar color="primary">
    <ion-row>
      <div> 
        <ion-buttons slot="start" class="float-left">
          <ion-menu-button></ion-menu-button>
        </ion-buttons></div>
       <ion-title>Video Gallery</ion-title>
       <!--<div class="vertical slide"></div> -->
     
        <ion-select (click)="student()" interface="popup" [(ngModel)]="semSelected" (ngModelChange)="getPostEntry($event)">

            <div class="studentname"> </div>
          </ion-select>
        
      <div class="logout">
        <ion-icon name="log-out"class="ion-float-right log-ion"></ion-icon>
      </div>
      </ion-row>
      </ion-toolbar>
    </ion-header>
  <ion-content class="ion-padding">
     <!--<ion-grid>
          <ion-row>
              <ion-col col-12>
           
                <iframe id="video" class="video-size"  
                src="//www.youtube.com/embed/9B7te184ZpQ?rel=0" frameborder="0" allowfullscreen></iframe>
            </ion-col>
          </ion-row>
            <ion-row>
                <ion-col col-12>
                 
                    <iframe id="video"class="video-size"  
                    src="https://www.youtube.com/embed/MLleDRkSuvk" frameborder="0" allowfullscreen></iframe>
                 
                </ion-col>
              </ion-row>
        </ion-grid>--> 
 
        <div class="jsonvalue"></div>
             
</ion-content>