.login-content{
    background-color: #32B4FC;
  
    text-align:center;
    padding: 55px;
    border-radius: 0 0 10% 10%;
}

 
.login-content h4{
    margin: 0px;
    color:#FFFF;
}
ion-card{margin-top: -25px; border-radius:20px;background: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
-webkit-transition: .25s box-shadow;
transition: .25s box-shadow;}
.ion-itemcontent{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.ion-itemcontent h4 {
    color:#2CB4FF;
    /*font-weight: bold;*/
    }
    .label-text{
        color:#2CB4FF;
        font-size:12px;
    }
    .item-inner {
        padding-right: 8px;
        border-bottom: 1px solid #2CB4FF;
    }
    
       .ion-btn{
        margin-top: 50px;
        text-align: center;
        margin-bottom: 30px;
      }
    .ions-btns{
        font-size: 15px;
        padding:0px 20px;
        font-weight:normal;
              }
    .para-text{
        color:rgb(143, 138, 138);
        font-size: 13px;
        margin-bottom: 0px;
    }
    input{
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 2px solid rgb(143, 138, 138);
        width: 21%;
        text-align:center;
        padding : 5px;
        margin-left:10px;
    }
    .form-control {
        border-radius: 0px;
        box-shadow:none;
        margin-top: 20px;
    }
