
  <ion-content>
  
      <div class="login-content">
        <h4 >Verification OTP</h4>
      </div>
  
        <ion-card>
          <div class="ion-itemcontent">
          <ion-item class="ion-text-center" lines="none">
              <ion-col size="12" size-sm>
             <p class="para-text">Enter the 4 digit OTP that was sent</p>
             <sub class="label-text">  to  (+91) <span class="mobilenum"></span></sub>
            
            </ion-col>
         </ion-item>
        </div>
        <ion-card-content>
            <ion-item>
                <ion-label position="stacked" class="label-text">Enter otp <ion-text color="danger">*</ion-text></ion-label>
                <ion-input type="text"  [(ngModel)]="otp" class="ion-text-left"  id="otps"  required></ion-input>
              </ion-item>
          <div class="ion-btn">
              <ion-button shape="round" class="ions-btns" (click)="gotohomepage()"> Confirm</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
       
        
  </ion-content>
  