<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
   Manage Profile
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div ng-app="myApp" ng-controller="formCtrl"id="profile-content">
    <form novalidate>
      <span class="label-text">Father Name:</span><br>
      <input type="text" ng-model="user.fatherName" class="input-box"><br>
      <span class="label-text">Mother Name:</span><br>
      <input type="text" ng-model="user.motherName" class="input-box"><br>
      <span class="label-text">Email:</span><br>
      <input type="text" ng-model="user.email " class="input-box"><br>
      <span class="label-text">Phone Number:</span><br>
      <input type="text" ng-model="user.phonenumber" class="input-box"><br>
     
      <br>
      <ion-grid>
        <ion-row>
          <ion-col col-12 col-sm><ion-button expand="full">Update Profile</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    
  </div>
</ion-content>
