#profile-content{
    margin: 20px;
}
.input-box{
    margin: 5px 0px;
    width:100%;
  }

    input[type=text] {
        border: 1px solid rgb(205, 209, 216);
        border-radius: 4px;
        height: 33px;
      }
      input:focus{
        outline: none;
    }
    .label-text{
        color:rgb(108, 109, 110);
        font-family: "Times New Roman", Times, serif;
    }