<ion-header>
  <ion-toolbar color="primary">
  <ion-row>
    <div> 
      <ion-buttons slot="start" class="float-left">
        <ion-menu-button></ion-menu-button>
      </ion-buttons></div>
     <ion-title>Teacher</ion-title>
             
    <div class="logout">
      <ion-icon name="log-out"class="ion-float-right log-ion"></ion-icon>
    </div>
    </ion-row>
    </ion-toolbar>
  </ion-header>
   
  <ion-content fullscreen>
   
    <ion-list>
      <ion-list-header>
        Teacher List
      </ion-list-header>

    
      <div class="jsonvalue"></div>
 
       
    </ion-list>

    
  </ion-content>
  