

<ion-header>
  <ion-toolbar color="primary">
  <ion-row>
      
   <div> 
      <ion-buttons slot="start" class="float-left">
        <ion-menu-button></ion-menu-button>
      </ion-buttons></div>
     <ion-title>Attendance</ion-title>

     <ion-select   okText="Okay" cancelText="Dismiss">
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
      </ion-select>
      
     </ion-row>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    
      <div class="jsonvalue"></div>
       
  
      <ion-col>
          <div class="ion-text-center">
            <h4>Month</h4>
         </div>
        </ion-col>
      <ion-card>
        
          <ion-item  lines="none">
              <ion-icon name="school" class="calss-color"></ion-icon>
            <ion-label>Total Classes</ion-label>
            <div class="special-t bg-color1"><p>29</p></div>
          </ion-item>

          <ion-item  lines="none">
              <ion-icon name="checkmark-circle" class="calss-color1"></ion-icon>
            <ion-label>Total Precent</ion-label>
            <div class="special-t  bg-color2"><p>30</p></div>
          </ion-item>


          <ion-item  lines="none">
              <ion-icon name="today" class="calss-color2"></ion-icon>
            <ion-label>Total Absent</ion-label>
            <div class="special-t bg-color5"><p>37</p></div>
          </ion-item>
        </ion-card>

        <!-- <ion-card>
            <ion-item  lines="none">
              <ion-label>Month</ion-label>
              <div class="special-t  bg-color2"><p>30</p></div>
            </ion-item>
          </ion-card>

          <ion-card>
              <ion-item  lines="none">
                <ion-label>Total Precent</ion-label>
                <div class="special-t bg-color3"><p>45</p></div>
              </ion-item>
            </ion-card>

            <ion-card>
                <ion-item  lines="none">
                  <ion-label>Total Absent</ion-label>
                  <div class="special-t bg-color4"><p>66</p></div>
                </ion-item>
              </ion-card>

              <ion-card>
                  <ion-item  lines="none">
                    <ion-label>Total Leave</ion-label>
                    <div class="special-t bg-color5"><p>37</p></div>
                  </ion-item>
                </ion-card> -->
         

               
    </ion-content>
