ion-card{
  border-radius: 10px;
  height: 150px;
  background: #ffffff;
  
}
.sc-ion-card-md-h {
  
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: 0.25s box-shadow !important;
  transition: 0.25s box-shadow !important;
}
.special-t{

  width: 30px;
  height: 30px;
  border-radius: 50%;
text-align: center;
color:#FFFF;
cursor: pointer;
}
.special-t p{
  color:#FFFF;
  padding-top: 6px;
  font-size: 13px;
}
.calss-color{
  color:#26A8D2;
}
.bg-color1{
  background-color: #26A8D2;
}
.calss-color1{
  color:#E82ECF;
}
.bg-color2{
  background-color: #E82ECF;
}
.calss-color2{
  color:#00B6BB;
}
.bg-color3{
  background-color: #FFA012;
}
.bg-color4{
  background-color: #8FC7FC;
}
.bg-color5{
  background-color: #00B6BB;
}
ion-label{
  color:rgb(197, 191, 191);
  padding-left: 5px;
}

