<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
        <ion-header>
            <ion-toolbar color="primary">
              <ion-title style="color:#FFFF;">Our own modern Matric Hr sec School
              </ion-title>
            </ion-toolbar>
          </ion-header>
      <ion-content>
          <ion-grid>
              <ion-row>
                <ion-col>
                  <ul>
                    <li>
      
                 <div class="studentimg"></div>
       
          </li>
          </ul>
          </ion-col>
        </ion-row>
        </ion-grid>
            <hr>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" lines="none" class="menu-list">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
