.head-bg{background-color:#0091EA; }
.ion-padding-top{
    padding-bottom: 15px;
}
.ion-padding-top h5,p{
    color:#FFFF;
    padding-left: 15px;
   
}
.ion-padding-top p{
    opacity: 0.5;
}
.input-bg{
    background-color: #F5F9FB;
    height: 40%;
}
#ion-btn{
    margin-top: 30px;
    text-align: center;
}
ion-button{width: 70%;
    --border-radius: 5px;}
