<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Feed Back</ion-title>
    </ion-toolbar>
  </ion-header>
   

<ion-content>
  <div class="head-bg">
    <div class="ion-padding-top">
    <h5>Send us your feedback!</h5>
    <p>this feedback send for student.</p>
  </div>
</div>

<div class="input-bg">
  <ion-textarea style="padding-left: 10px;"placeholder="Enter more information here...">
  </ion-textarea>
</div>
<div id="ion-btn">
  <ion-button >Send feed back</ion-button></div>

</ion-content>
