
.sub-t{
    color:#FFF;
    background-color: #26A8D2;
    border:1px solid black;
    padding: 15px;
    width: 70px;
    height: 50px;
    margin-top: 7px;
}
.time{
    color:#949494;
}
.sub{
    font-size:24px;
   
}
.chosen-image {
    height: 100px;
    width: auto;
  }
#ion-r{
    margin: 20px 0px;
    border-bottom:1px solid #949494;
    height: 70px;
}
.ion-con{
    margin-left: 10px;
    
}
.nav-pills>li+li {
  margin-left: 0px !important; 
}
.nav-pills .nav-link {
   border-radius: 0rem !important;  
}
.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
 
  background-color: #FFFF; 
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #FFFF;
}
.btn-group button {
  color:#26A8D2;
  padding: 10px 20px;
}
  .tab-slider--nav {
    width: 100%;
    float: left;
    margin-bottom: 20px;
  }
  .tab-slider--tabs {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
    background: #fff;
    height: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .tab-slider--tabs:after {
    content: "";
    width: 50%;
    background: #345F90;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    border-radius: 35px;
  }
  .tab-slider--tabs.slide:after {
    left: 50%;
  }
  .tab-slider--trigger {
    font-size: 12px;
    line-height: 1;
    color:#26A8D2;
    text-transform: uppercase;
    text-align: center;
    padding: 11px 16px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: color 250ms ease-in-out;
    transition: color 250ms ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
 
  .tab-slider--body {
    margin-bottom: 20px;
  }

  body .button-bar_custom > .button {
    -webkit-box-flex: initial;
    -webkit-flex: initial;
    -moz-box-flex: initial;
    -moz-flex: initial;
    -ms-flex: initial;
    flex: initial;
    padding: 0 10px;
    width: auto;
    min-width: 90px;
    font-size: 14px;
  }
  




