<ion-header>
  <ion-toolbar color="primary">
  <ion-row>
    <div> 
      <ion-buttons slot="start" class="float-left">
        <ion-menu-button></ion-menu-button>
      </ion-buttons></div>
     <ion-title>Time table</ion-title>
   
      <ion-select (click)="student()" interface="popup" [(ngModel)]="semSelected" (ngModelChange)="getPostEntry($event)">
        <div class="studentname"> </div>
        </ion-select>
      
    <div class="logout">
      <ion-icon name="log-out"class="ion-float-right log-ion"></ion-icon>
    </div>
    </ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

      
      <div class="btn-group">
      <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
              <button class="nav-link active" data-toggle="pill" href="#home" [(ngModel)]="monday" click="mon()"> Mon</button> 
          </li>
          <li class="nav-item">
              <button class="nav-link" data-toggle="pill" href="#menu1">Tue</button> 
          </li>
          <li class="nav-item">
            <button class="nav-link" data-toggle="pill" href="#menu2">wed</button>
          </li>
          <li class="nav-item">
              <button class="nav-link" data-toggle="pill" href="#menu3">Thu</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" data-toggle="pill" href="#menu4">Fri</button>
              </li>
        </ul>
      </div>
        <!-- Tab panes -->
        <div class="tab-content">
          <div id="home" class="container tab-pane active"><br>
      
                <div class="mondayvalue"> </div>
               
          </div>
          <!-- <div id="menu1" class="container tab-pane fade"><br>
            <ion-row id="ion-r">
      
                <div class="sub-t"> MAT</div>
                          
                   <ion-col col-6 class="ion-con">
                  <div class="sub">Maths  </div>
                  <div class="time">
                 <ion-icon name="time"></ion-icon>  
                 10 am - 20 pm</div>
                  </ion-col>
                </ion-row>
          </div>
          <div id="menu2" class="container tab-pane fade"><br>
            <ion-row id="ion-r">
      
                <div class="sub-t"> MAT</div>
                          
                   <ion-col col-6 class="ion-con">
                  <div class="sub">Maths  </div>
                  <div class="time">
                 <ion-icon name="time"></ion-icon>  
                 10 am - 20 pm</div>
                  </ion-col>
                </ion-row>
          </div> -->
        </div>
      














        <!--  <div class="btn-group">
              <div class="tab-slider--nav">
               
              <button  class="tab-slider--trigger" [class.active]="viewMode == 'monday'" rel="monday" (click)="viewMode ='monday'">Mon</button>
              <button class="tab-slider--trigger" [class.active]="viewMode == 'tuesday'" rel="tuesday" (click)="viewMode ='tuesday'">Tue</button>
              <button class="tab-slider--trigger" [class.active]="viewMode == 'wednesday'" rel="wednesday" (click)="viewMode ='wednesday'">Wed</button>
              <button class="tab-slider--trigger" [class.active]="viewMode == 'thursday'" rel="thursday" (click)="viewMode ='thursday'">Thu</button>
              <button class="tab-slider--trigger" [class.active]="viewMode == 'friday'" rel="friday" (click)="viewMode ='friday'">Fri</button>
            
              </div>
            </div>

            <div class="jsonvalue"></div> -->
         <!--  <div class="tab-slider--container" [ngSwitch]="viewMode">
            <div id="tab1" class="tab-slider--body" *ngSwitchCase="'monday'">
                <ion-row id="ion-r">
      
                    <div class="sub-t"> MAT</div>
                              
                       <ion-col col-6 class="ion-con">
                      <div class="sub">Maths  </div>
                      <div class="time">
                     <ion-icon name="time"></ion-icon>  
                     10 am - 20 pm</div>
                      </ion-col>
                    </ion-row>
            </div>
            <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tuesday'">
              <h2>Second Tab</h2>
              <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo
                quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
            <div id="tab3" class="tab-slider--body" *ngSwitchCase="'wednesday'">
                <h2>3 Tab</h2>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo
                  quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
              </div>
              <div id="tab4" class="tab-slider--body" *ngSwitchCase="'thursday'">
                  <h2>4 Tab</h2>
                  <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo
                    quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
                <div id="tab5" class="tab-slider--body" *ngSwitchCase="'friday'">
                    <h2>5 Tab</h2>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo
                      quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                  </div>
                 
         
        </div> -->
     
         
  
  </ion-content>