

<ion-content>

    <div class="login-content">
      <h4 >School App</h4>
    </div>
      <ion-card>
        <div class="ion-itemcontent">
        <ion-item class="ion-text-center" lines="none">
            <ion-col size="12" size-sm>
           <h4>LOGIN</h4>
          </ion-col>
       </ion-item>
      </div>
        <ion-card-content>
            <ion-item>
                <ion-label position="stacked" class="label-text">Phone Number <ion-text color="danger">*</ion-text></ion-label>
                <ion-input type="text" placeholder="+91 12345678901" [(ngModel)]="mobile" class="ion-text-left"  id="mobile"  required></ion-input>
              </ion-item>
          <div class="ion-btn">
            <ion-button shape="round" class="ions-btns" (click)="sendOTP()">Login</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
   
</ion-content>
