.login-content{
    background-color: #32B4FC;
    height:25%;
    text-align:center;
    padding: 55px;
    border-radius: 0 0 10% 10%;
}

.login-head{
    background-color: #32B4FC;
}
.login-content h4{
    margin: 0px;
    color:#FFFF;
}
ion-card{margin-top: -25px; border-radius:20px;background: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
-webkit-transition: .25s box-shadow;
transition: .25s box-shadow;height: 60%;}
.ion-itemcontent{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}
.ion-itemcontent h4 {
    color:#2CB4FF;
    /*font-weight: bold;*/
    }
    .label-text{
        color:#2CB4FF;
        font-size:12px;
    }
    .item-inner {
        padding-right: 8px;
        border-bottom: 1px solid #2CB4FF;
    }
    
  
      .ion-btn{
        margin-top: 50px;
        text-align: center;
        margin-bottom: 30px;
        
        
    }
    .ions-btns{
        font-size: 12px;
        padding:0px 20px;
       
       
    }
    
