@import url(http://fonts.googleapis.com/css?family=Oxygen);
   body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-title {
    /*font-family: "Times New Roman", Times, serif!important;*/
    font-size: 15px;
    }
    ul{
      padding-left: 0px;
      margin-bottom: 0px !important;
    }
    ion-card:hover{
      cursor: pointer;
    }
    .menu-list:hover{
      background-color:#F7F8FC; 
     
  }
  .menu-list{
      cursor: pointer;
  }
    
.t{color:rgb(155, 84, 84);}
/*.item-inner, ion-item {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
  }*/
  .btn-group button {
    background-color: #FFF; /* Green background */
    border: 1px solid #26A8D2; /* Green border */
   font-size: 15px;
    color: #FFFF; /* White text */
    padding: 10px 15px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    
  }
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #26A8D2;
    color: #FFF;
  }
  ion-title{
    text-align:center;
    color:#FFFF;
    /*font-weight:bold;*/
  /*   width: 80%; */
 font-size: 16px;}

  ion-menu-button{color:#FFFF;}
  ion-content{--background:#FFFF;}

.parent-active {
    font-weight: 500;
}
 .menu-item{
     font-size: 15px;
     font-family: "Lucida Console" !important;
 }
 .menu-item:hover{
     /*background-color: #000000;*/
     cursor: pointer;
 }
 
.sub-item {
    padding-left: 15px;
    font-size: 12px;
    }

.hide-card {
    -webkit-box-shadow: none!important;
  }
  /* #menu-back{  
     height: 130px; *
   border-bottom:1px solid #E5E5E5;   } */
  #menu-hed{      
   padding-left: 15px;
  }
  
  .st-name{
    padding: 10px 0px;
  }

  .student-t{
    width:30%;
  }
  .vertical:after {
    content: '\2807';
    font-size: 23px;
    float: right;
    color:#FFFF;
    padding-top:10px;
    }
    li {
      list-style-type: none;
    
    }
    .select-icon{
      visibility:hidden;
   }
    
   .select-icon-inner{
      visibility:hidden;
   }
    
    .logout{
      width: 50px;
    }
    .log-ion{  font-size: 20px;
      font-weight: bold;padding: 10px;}
  