<ion-header>
  <ion-toolbar color="primary">
    <!--<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>-->
    <ion-title>
     Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <h3 id="head">Ourownmodern School</h3>
  <ion-grid class="ion-text-center">
    <ion-row >
      <ion-col col-6>
          <a button href="/teacher">
        <ion-card >
           <ion-icon name="person"></ion-icon>
          <ion-card-header >
              Teacher
          </ion-card-header>
           </ion-card>
          </a>
      </ion-col>
      <ion-col col-6>
          <a button href="/timetable">
        <ion-card >
          <ion-icon name="time"></ion-icon>
          <ion-card-header>
               Class Routione
                     </ion-card-header>
            </ion-card>
          </a>
       </ion-col>
    </ion-row>
    <ion-row >
      <ion-col col-6>
          <a button href="/videgallery">
        <ion-card >
            <ion-icon name="videocam"></ion-icon>
          <ion-card-header>
              video Gallery
                   </ion-card-header>
            </ion-card>
          </a>
      </ion-col>
      <ion-col col-6>
          <a button href="/noticeboard">
        <ion-card >
          <ion-icon name="clipboard"></ion-icon>
          <ion-card-header>
               Noticeboard
          </ion-card-header>
            </ion-card>
          </a>
       </ion-col>
    </ion-row>
    <ion-row >
      <ion-col col-6>
          <a button href="/feedback">
        <ion-card >
          <ion-icon name="paper"></ion-icon>
          <ion-card-header>
              Feed back
         </ion-card-header>
         </ion-card>
          </a>
      </ion-col>
      <ion-col col-6>
          <a button href="/exammarks">
        <ion-card >
          <ion-icon name="bookmarks"></ion-icon>
            <ion-card-header>
                Exam marks
              </ion-card-header>
            </ion-card>
          </a>
       </ion-col>
    </ion-row>
    <ion-row >
      <ion-col col-6>
          <a button href="/attendance">
        <ion-card>
          <ion-icon name="document"></ion-icon>
          <ion-card-header>
               Attendance
         </ion-card-header>
            </ion-card>
          </a>
      </ion-col>
      <ion-col col-6>
          <a button href="/flashnews">
        <ion-card >
          <ion-icon name="flash"></ion-icon>
          <ion-card-header>
                Flash News
          </ion-card-header>
            </ion-card>
          </a>
       </ion-col>
    </ion-row>
    <ion-row >
      <ion-col col-6>
          <a button href="/events">
        <ion-card >
          <ion-icon name="calendar"></ion-icon>
          <ion-card-header>
              Events & calendar
          </ion-card-header>
            </ion-card>
          </a>
      </ion-col>
      <ion-col col-6>
          <a button href="/homework">
        <ion-card >
          <ion-icon name="book"></ion-icon>
          <ion-card-header>
              Home Work
          </ion-card-header>
            </ion-card>
          </a>
       </ion-col>
    </ion-row>
    <ion-row >
        <ion-col col-6>
            <a button href="/gallery">
            <ion-card >
                <ion-icon name="images"></ion-icon>
              <ion-card-header>
                 Gallery
              </ion-card-header>
                </ion-card>
              </a>
           </ion-col>
     
      <ion-col col-6>
        <!--<ion-card >
          <ion-icon name="time"></ion-icon>
          <ion-card-header>
            <ion-card-title>
              Class Routione</ion-card-title>
          </ion-card-header>
            </ion-card>-->
       </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



