
   ion-card{
    background: #FFF;
   }
   ion-card-header{
    color:#3171e0;
   }
   a:hover{text-decoration: none;}
    #head{
        color:#000;
        font-size: 25px;
        font-weight: 300;}
    ion-icon{
    font-size: 50px !important;
    color:#3BA5D3;
     padding-top: 10px;}
    .sc-ion-card-md-h{ 
        border: none;
        background: #ffffff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
 -webkit-transition: .25s box-shadow;
 transition: .25s box-shadow;
        height: 85%;}
        .sc-ion-card-md-h:focus, .sc-ion-card-md-h:hover {
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
           }
        ion-card-title{
           color:#000;
            font-size: 15px;}
